body {
    background-color: #282922;
    color: white;

}

.hashdiary-container {
    font-family: "Garamond";
    white-space: pre-line;
    font-size: 14pt;
}

[contenteditable] {
  outline: 0px solid transparent;
}

.hd-header-1 {
    /*background-color: white;
    color: #282922;*/
    font-weight: bold;
    font-family: "Helvetica";

}

.hd-header-1-hash {
    color: #ff0071;
    font-weight: bold;
    font-family: "Helvetica";
}

.hd-header-2 {
    /*background-color: white;
    color: #282922;*/
    /*font-weight: bold;*/
    font-family: "Helvetica";
}

.hd-header-2-hash {
    color: #ff9100;
    font-weight: bold;
    font-family: "Helvetica";
}


.hd-header-3 {
    /*background-color: white;
    color: #282922;*/
    /*font-weight: bold;*/
    font-family: "Helvetica";
}

.hd-header-3-hash {
    color: #ff9100;
    font-weight: bold;
    font-family: "Helvetica";
}

.hd-bold {
    font-weight: bold;
    font-family: "Helvetica";
}

.hd-bold-star {
    color: #999;
}

.hd-italics {
    font-style: italic;
    font-family: "Helvetica";
}

.hd-italics-star {
    color: #999;
}