body {
    background-color: #282922;
    color: white;
}

[contenteditable] {
  outline: 0px solid transparent;
}

.hd-header-1 {
    /*background-color: white;
    color: #282922;*/
    font-weight: bold;
}

.hd-header-1-hash {
    color: #ff0071;
    font-weight: bold;
}